<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pen Styles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=cigar_pen," class="dropdown-item">Cirgar Pens</a>
                <a href="{% url 'products' %}?category=fountain_pen" class="dropdown-item">Fountain Pens</a>
                <a href="{% url 'products' %}?category=race_car_stylus" class="dropdown-item">Race Car Stylus</a>
                <a href="{% url 'products' %}?category=slim_line_pen" class="dropdown-item">Slim Line Pens</a>
                <a href="{% url 'products' %}?category=,cigar_pen,fountain_pen,race_car_stylus,slim_line_pen" class="dropdown-item">All Pens</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'blog' %}"
            class="logo-font font-weight-bold nav-link text-black">
             <div class="text-center">
                 <p class="my-0">Blog</p>
             </div>
            </a>
        </li>

        
    </ul>
</div>